@charset "UTF-8";

.prd-detail-page {
  margin: 32px auto;
  font-family: "Pretendard Variable";
}
.prd-detail-page .sec {
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}
.prd-detail-page .top-sec {
  padding-bottom: 80px;
  position: relative;
  width: 100%;
  min-height: 721px;
  display: flex;
  overflow: hidden;
  gap: 40px;
}
.prd-detail-page .top-sec .prd-img-swiper {
  position: relative;
  overflow: hidden;
  cursor: grab;
}
.prd-detail-page .top-sec .prd-img-swiper:active {
  cursor: grabbing;
}
.prd-detail-page .top-sec .prd-img-swiper .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 48px;
}
.prd-detail-page .top-sec .prd-img-swiper img {
  max-width: none;
  height: 100%;
}
.prd-detail-page .top-sec .prd-img-swiper .control-area {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  gap: 16px;
  z-index: 9;
}
.prd-detail-page .top-sec .prd-img-swiper .control-area button {
  width: 30px;
  height: 30px;
  background: url(/front/images/common/icon/scrollPre.svg) center no-repeat;
  background-size: cover;
}
.prd-detail-page .top-sec .prd-img-swiper .control-area .next-btn {
  transform: rotate(180deg);
}
.prd-detail-page .top-sec .prd-img-swiper .control-area .swiper-pagination {
  position: relative;
  width: auto;
  top: auto;
  bottom: auto;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "ss01" on;
  line-height: normal;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area {
  padding-bottom: 48px;
  min-width: 507px;
  min-height: 721px;
  background-color: white;
  z-index: 9;
  display: grid;
  position: relative;
}
.prd-detail-page .top-sec .buy-area .breadcrumb {
  display: flex;
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .breadcrumb > li::after {
  margin: 0 4px;
  display: inline-block;
  content: " ";
  background: url(/front/images/common/icon/chevronRight.svg) center no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  transform: translateY(2px);
}
.prd-detail-page .top-sec .buy-area .breadcrumb > li:last-of-type::after {
  display: none;
}
.prd-detail-page .top-sec .buy-area .prd-title {
  margin-left: -3px;
  margin-top: 14px;
  color: #1d1d1d;
  padding-right: 36px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .wish-list-btn {
  position: absolute;
  top: 43px;
  right: 0px;
  width: 36px;
  height: 36px;
  margin: 0;
  background: url(/front/images/detail/img/ico_wishlist.svg) center no-repeat;
}
.prd-detail-page .top-sec .buy-area .wish-list-btn.on {
  background: url(/front/images/detail/img/ico_wishlist_on.svg) center no-repeat;
  background-size: 36px;
}
.prd-detail-page .top-sec .buy-area .price-area {
  margin: 18px 0;
  display: flex;
  flex-flow: column;
  gap: 4px;
}
.prd-detail-page .top-sec .buy-area .price-area .raw-price {
  color: #8e8e8e;
  font-feature-settings: "ss01" on;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .price-area .sale-percent {
  margin-right: 8px;
  color: #d0122b;
  font-feature-settings: "ss01" on;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .price-area .sale-price {
  color: #2d2d2d;
  font-feature-settings: "ss01" on;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .review-info {
  margin-bottom: 18px;
}
.prd-detail-page .top-sec .buy-area .review-info a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.prd-detail-page .top-sec .buy-area .review-info a ul {
  display: flex;
}
.prd-detail-page .top-sec .buy-area .review-info a ul > li {
  width: 14px;
  height: 14px;
  background: url(/front/images/detail/img/sample/review_star.svg) center/contain no-repeat;
}
.prd-detail-page .top-sec .buy-area .review-info a ul > li.on {
  background: url(/front/images/detail/img/sample/review_star_on.svg) center/contain no-repeat;
}
.prd-detail-page .top-sec .buy-area .review-info a span {
  font-size: 12px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  text-decoration: none;
  position: relative;
  top: 2px;
}
.prd-detail-page .top-sec .buy-area .prd-summary-info {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  word-break: break-all;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.prd-detail-page .top-sec .buy-area .opt-title {
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  font-family: "General Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  align-items: center;
}
.prd-detail-page .top-sec .buy-area .prd-color-btn-wrap {
  display: flex;
  gap: 10px;
}
.prd-detail-page .top-sec .buy-area .prd-color-btn-wrap button {
  cursor: pointer;
  width: 64px;
  height: 64px;
}
.prd-detail-page .top-sec .buy-area .prd-color-btn-wrap button.selected {
  border: 1px solid #000;
}
.prd-detail-page .top-sec .buy-area .size-guide-tip {
  padding-left: 20px;
  padding-bottom: 2px;
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background: url(/front/images/detail/img/ico_size_guide.svg) left 0px top 20% no-repeat;
  background-size: 18px;
  transform: translateY(-2px);
  cursor: pointer;
}
.prd-detail-page .top-sec .buy-area .size-select-wrap {
  margin-bottom: 8px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.prd-detail-page .top-sec .buy-area .size-select-wrap .select-btn {
  border-color: #ccc;
  font-size: 18px;
  height: 48px;
}
.prd-detail-page .top-sec .buy-area .size-select-wrap .select-dropdown {
  padding: 8px 0;
  border-top: 1px solid #000;
  max-height: 300px;
}
.prd-detail-page .top-sec .buy-area .size-select-wrap .select-dropdown li {
  line-height: 48px;
}
.prd-detail-page .top-sec .buy-area .size-btn-wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 3px;
}
.prd-detail-page .top-sec .buy-area .size-btn-wrap button {
  position: relative;
  height: 40px;
  border: 1px solid #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "ss01" on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}
.prd-detail-page .top-sec .buy-area .size-btn-wrap button:disabled {
  color: #d8d8d8;
  border: 1px solid #d8d8d8;
  background: url(/front/images/detail/img/size_disabled.svg) center no-repeat;
  background-size: cover;
  cursor: not-allowed;
}
.prd-detail-page .top-sec .buy-area .size-btn-wrap button.selected {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.prd-detail-page .top-sec .buy-area .model-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.prd-detail-page .top-sec .buy-area .model-item p {
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.prd-detail-page .top-sec .buy-area .add-cart-btn {
  margin-top: 54px;
  display: flex;
  height: 56px;
  padding: 22px 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  width: 100%;
  background: #000;
  color: #f8f8f8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page .top-sec .buy-area .add-cart-btn:disabled {
  background: #f0f0f0;
  color: #8e8e8e;
  cursor: not-allowed;
}
.prd-detail-page .spec-sec {
  padding: 80px 0;
  background: #000;
  max-width: 100%;
}
.prd-detail-page .spec-sec .inner-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 0 80px;
}
.prd-detail-page .spec-sec .inner-container .title {
  color: #fff;
  font-family: "General Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .spec-sec .inner-container .spec-list {
  position: relative;
  margin-top: 60px;
  width: 100%;
  /* Grid 제거하고 Flex 적용 */
  display: flex;
  flex-flow: row wrap;
  /* gap은 유지하되, 아래 width 계산식에서 gap 크기만큼 빼줘야 함 */
  gap: 40px;
  justify-content: flex-start; /* 왼쪽 정렬 기준 */
}
/* [PC 일반 화면: 1200px 이상] */
@media (min-width: 1200px) {
  /* 1. [CASE 1개] 너비 50% ★추가됨 */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:last-child {
    width: 50%;
  }

  /* 2. [CASE 2개] 한 줄 배치 (50%씩) */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(2),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(2) ~ li {
    width: calc((100% - 40px) / 2);
  }

  /* 3. [CASE 3개] 한 줄 배치 (33.3%씩) */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(3),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(3) ~ li {
    width: calc((100% - 80px) / 3);
  }

  /* 4. [CASE 4개] 두 줄 배치 (2x2, 50%씩) */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(4),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(4) ~ li {
    width: calc((100% - 40px) / 2);
  }

  /* 5. [CASE 5개] 윗줄 3개, 아랫줄 2개 배치 */
  /* (1) 전체적으로 3열(33.3%) 너비 적용 */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li {
    width: calc((100% - 80px) / 3);
  }
  /* (2) 4번째, 5번째 아이템만 2열(50%) 너비로 덮어쓰기 */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li:nth-child(4),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li:nth-child(5) {
    width: calc((100% - 40px) / 2);
  }
}

/* [CASE 4] 초대형 화면(1440px~) 대응 */
@media (min-width: 1440px) {
  /* 1개일 때: 너비 50% */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:last-child {
    width: 50%;
  }

  /* 2개일 때: 한 줄 (50%씩) */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(2),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(2) ~ li {
    width: calc((100% - 40px) / 2); /* gap 1개 */
  }

  /* 4개일 때: 한 줄 (25%씩) */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(4),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(4) ~ li {
    width: calc((100% - 120px) / 4); /* gap 3개 */
  }

  /* 5개일 때: 한 줄 (20%씩) - 1200px 구간의 설정을 덮어씌움 */
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li {
    width: calc((100% - 160px) / 5);
  }
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li:nth-child(4),
  .prd-detail-page .spec-sec .inner-container .spec-list > li:first-child:nth-last-child(5) ~ li:nth-child(5) {
    width: calc((100% - 160px) / 5);
  }
}
.prd-detail-page .spec-sec .inner-container .spec-list > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: none;
  gap: 18px;
  padding: 20px 0;
  border-bottom: 1px solid #555;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .ico {
  position: relative;
  width: 88px;
  height: 88px;
}
.prd-detail-page .spec-sec .inner-container .spec-list li .ico img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .item-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 130px;
  color: #f8f8f8;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .item-val {
  color: #f8f8f8;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .tooltip-btn {
  margin-left: 8px;
  margin-top: -2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/front/images/detail/img/spec_item_ico.svg) center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .spec-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  background: black;
  color: white;
  padding: 58px 16px 54px;
  color: #f8f8f8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  z-index: 9;
}
.prd-detail-page .spec-sec .inner-container .spec-list > li .spec-tooltip .close-spec-tooltip {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background: url(/front/images/common/icon/close.svg) center no-repeat;
  background-size: cover;
  filter: invert(1);
  width: 18px;
  height: 18px;
}
.prd-detail-page .spec-sec .inner-container .bot-area {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prd-detail-page .spec-sec .inner-container .bot-area .desc {
  color: #e4e4e4;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .spec-sec .inner-container .bot-area button {
  width: 248px;
  height: 56px;
  border: 1px solid #fff;
  background: #000;
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page .detail-img-sec {
  padding-top: 112px;
  padding-bottom: 80px;
}
.prd-detail-page .detail-img-sec ul {
  display: flex;
  gap: 16px;
}
.prd-detail-page .detail-img-sec ul li .title {
  margin-top: 16px;
  color: #1d1d1d;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.26px;
  text-transform: uppercase;
}
.prd-detail-page .detail-img-sec ul li .desc {
  margin-top: 8px;
  padding-right: 80px;
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}
.prd-detail-page .feature-sec {
  margin-top: 140px;
  position: relative;
}
.prd-detail-page .feature-sec .title-area {
  position: relative;
}
.prd-detail-page .feature-sec .title-area .sec-title {
  color: #1d1d1d;
  font-family: "General Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .feature-sec .title-area .btn-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
}
.prd-detail-page .feature-sec .title-area .btn-wrap button {
  width: 24px;
  height: 24px;
  background: url(/front/images/common/icon/scrollPre.svg) center no-repeat;
  background-size: cover;
}
.prd-detail-page .feature-sec .title-area .btn-wrap .next-btn {
  transform: rotate(180deg);
}
.prd-detail-page .feature-sec .feature-swiper {
  margin-top: 36px;
  height: -moz-fit-content;
  height: fit-content;
  cursor: grab;
}
.prd-detail-page .feature-sec .feature-swiper:active {
  cursor: grabbing;
}
.prd-detail-page .feature-sec .feature-swiper .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.prd-detail-page .feature-sec .feature-swiper .swiper-slide .img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.prd-detail-page .feature-sec .feature-swiper .swiper-slide .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.prd-detail-page .feature-sec .feature-swiper .swiper-slide .desc {
  margin-top: 18px;
  width: 100%;
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
.prd-detail-page .feature-sec .feature-swiper .swiper-slide .desc span {
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
.prd-detail-page .struct-design-sec {
  margin-top: 180px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.prd-detail-page .struct-design-sec .sec-title {
  color: #1d1d1d;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .struct-design-sec .img-comparison-area {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 0;
  padding-top: 43.18%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.prd-detail-page .struct-design-sec .img-comparison-area img-comparison-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --divider-width: 8px;
  --divider-color: white;
  cursor: grab;
}
.prd-detail-page .struct-design-sec .img-comparison-area img-comparison-slider:active {
  cursor: grabbing;
}
.prd-detail-page .struct-design-sec .img-comparison-area img-comparison-slider .img-wrap {
  position: relative;
}
.prd-detail-page .struct-design-sec .img-comparison-area img-comparison-slider .img-wrap .bg {
  margin-top: 4.7%;
  margin-left: 5.9%;
  width: 92.15%;
}
.prd-detail-page .struct-design-sec .img-comparison-area .ic-slider:focus {
  outline: none;
}
.prd-detail-page .struct-design-sec .img-comparison-area .img-wrap {
  position: relative;
  background-color: #f7f7f7;
}
.prd-detail-page .struct-design-sec .img-comparison-area .spot {
  position: absolute;
  cursor: pointer;
  background: url(/front/images/detail/img/struct_design_spot.svg) center center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.prd-detail-page .struct-design-sec .copyright {
  margin-top: 21px;
  color: #2d2d2d;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.12px;
}
.prd-detail-page .struct-design-sec .desc {
  margin-top: 2px;
  color: #717171;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.prd-detail-page .size-guide-sec {
  padding-top: 115px;
  padding-bottom: 200px;
  overflow: hidden;
}
.prd-detail-page .size-guide-sec .title-area {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-bottom: 16px;
}
.prd-detail-page .size-guide-sec .title-area .sec-title {
  color: #1d1d1d;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.46px;
}
.prd-detail-page .size-guide-sec .title-area .info {
  padding-left: 27px;
  background: url(/front/images/detail/img/size_guide_ico.svg) center left no-repeat;
  background-size: 20px;
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
}
.prd-detail-page .size-guide-sec .size-guide-area {
  display: flex;
  width: 100%;
  overflow: visible;
}
.prd-detail-page .size-guide-sec .size-guide-area .img-area {
  position: relative;
  width: 45%;
  height: 543px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.prd-detail-page .size-guide-sec .size-guide-area .img-area img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 632px;
  -o-object-fit: cover;
  object-fit: cover;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area {
  width: 55%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: grab;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area:active {
  cursor: grabbing;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area {
  flex-direction: column;
  align-items: stretch;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper {
  overflow-x: auto;
  padding-bottom: 16px;
  margin-right: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper::-webkit-scrollbar {
  display: none;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .custom-scrollbar {
  width: 100%;
  flex-shrink: 0;
  padding-top: 12px;
  padding-bottom: 4px;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .custom-scrollbar-track {
  width: 100%;
  height: 6px;
  background: #FFF;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .custom-scrollbar-thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 40px;
  background: #C6C6C6;
  border-radius: 3px;
  cursor: grab;
  transition: background 0.15s;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .custom-scrollbar-thumb:active {
  cursor: grabbing;
  background: #000;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .custom-scrollbar-thumb.dragging {
  transition: none;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table {
  border-collapse: collapse;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table th,
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table td {
  padding: 24px 20px;
  line-height: 27px;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "ss01" on;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table th:first-child,
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fafafa;
  font-weight: bold;
  color: #333;
  box-shadow: inset -1px 0 0 #d6d6d6;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table th {
  background-color: #fafafa;
  font-weight: bold;
  min-width: 180px;
  width: 180px;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table th:first-of-type {
  min-width: 160px;
  width: 160px;
  background-color: #fafafa;
}
.prd-detail-page .size-guide-sec .size-guide-area .table-area .table-wrapper table td {
  border-top: 1px solid #d6d6d6;
}
.prd-detail-page .size-guide-sec .info-list {
  margin-top: -12px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}
.prd-detail-page .size-guide-sec .info-list li {
  position: relative;
  padding-left: 36px;
}
.prd-detail-page .size-guide-sec .info-list li span {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "General Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.1px;
}
.prd-detail-page .size-guide-sec .info-list li p:first-of-type {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page .size-guide-sec .info-list li p {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page .size-guide-sec .style-guide-area {
  padding-top: 80px;
  width: 100%;
}
.prd-detail-page .size-guide-sec .style-guide-area .img-wrap {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 800px;
}
.prd-detail-page .size-guide-sec .style-guide-area .img-wrap img {
  width: 33.33%;
  object-fit: cover;
}
.prd-detail-page .size-guide-sec .style-guide-area .style-guide-bot-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prd-detail-page .size-guide-sec .style-guide-area .style-guide-bot-area p {
  color: #1d1d1d;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.prd-detail-page .size-guide-sec .style-guide-area .style-guide-bot-area button {
  display: flex;
  width: 248px;
  height: 56px;
  padding: 22px 70px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
  white-space: nowrap;
  border: 1px solid #000;
}
.prd-detail-page .toggle-sec {
  padding-bottom: 20px;
}
.prd-detail-page .toggle-sec .sec-title {
  position: relative;
  margin: 20px 0;
  padding-bottom: 20px;
  color: #1d1d1d;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.24px;
  border-bottom: 1px solid #c6c6c6;
}
.prd-detail-page .toggle-sec .sec-title i {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.prd-detail-page .toggle-sec .sec-title i::before,
.prd-detail-page .toggle-sec .sec-title i::after {
  display: block;
  position: absolute;
  content: " ";
  margin-top: -1px;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #1d1d1d;
  transition: all 0.3s ease-in;
}
.prd-detail-page .toggle-sec .sec-title.closed i::before {
  transform: rotate(-180deg);
  transition: all 0.3s ease-out;
}
.prd-detail-page .toggle-sec .sec-title.closed i::after {
  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
}
.prd-detail-page .toggle-sec .info-table {
  width: 100%;
  border-collapse: collapse;
}
.prd-detail-page .toggle-sec .info-table th,
.prd-detail-page .toggle-sec .info-table td {
  padding: 19px 0;
}
.prd-detail-page .toggle-sec .info-table th {
  vertical-align: top;
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
}
.prd-detail-page .toggle-sec .info-table td {
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}
.prd-detail-page .laundry-sec .caution-list {
  display: flex;
  flex-flow: column;
  gap: 32px;
}
.prd-detail-page .laundry-sec .caution-list > li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.prd-detail-page .rec-prd-sec {
  padding-top: 80px;
  padding-bottom: 80px;
}
.prd-detail-page .rec-prd-sec img {
  width: 100%;
  cursor: pointer;
}
.prd-detail-page .rec-prd-sec .title {
  margin-top: 24px;
  color: #1d1d1d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page .rec-prd-sec .desc {
  margin-top: 16px;
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
}
.prd-detail-page .rec-prd-sec button {
  margin-top: 24px;
  width: 248px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  font-weight: 600;
}
.prd-detail-page .rec-list-sec {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}
.prd-detail-page .rec-list-sec .title-area {
  position: relative;
}
.prd-detail-page .rec-list-sec .title-area .sec-title {
  color: #1d1d1d;
  font-family: "General Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.prd-detail-page .rec-list-sec .title-area .btn-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
}
.prd-detail-page .rec-list-sec .title-area .btn-wrap button {
  width: 24px;
  height: 24px;
  background: url(/front/images/common/icon/scrollPre.svg) center no-repeat;
  background-size: cover;
}
.prd-detail-page .rec-list-sec .title-area .btn-wrap .next-btn {
  transform: rotate(180deg);
}
.prd-detail-page .rec-list-sec .rec-list-swiper {
  margin-top: 36px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}
.prd-detail-page .rec-list-sec .rec-list-swiper .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.prd-detail-page .rec-list-sec .rec-list-swiper .swiper-slide .img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.prd-detail-page .rec-list-sec .rec-list-swiper .swiper-slide .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.prd-detail-page .rec-list-sec .rec-list-swiper .swiper-slide .desc {
  margin-top: 18px;
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  width: 100%;
  max-width: 480px;
}
.prd-detail-page .rec-list-sec .rec-list-swiper .swiper-slide .desc span {
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
.prd-detail-page #size-guide-popup .popup-body {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 20px;
}
.prd-detail-page #size-guide-popup .popup-body table {
  margin-top: 26px;
}
.prd-detail-page #size-guide-popup .popup-body table th,
.prd-detail-page #size-guide-popup .popup-body table td {
  width: 180px;
  padding: 24px 10px;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "ss01" on;
}
.prd-detail-page #size-guide-popup .popup-body table th:first-of-type,
.prd-detail-page #size-guide-popup .popup-body table td:first-of-type {
  padding-left: 0;
  padding-right: 0;
}
.prd-detail-page #size-guide-popup .popup-body table th:first-child,
.prd-detail-page #size-guide-popup .popup-body table td:first-child {
  width: 160px;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fafafa;
  font-weight: bold;
  color: #333;
  box-shadow: inset -1px 0 0 #d6d6d6;
}
.prd-detail-page #size-guide-popup .popup-body table th:first-child {
  background-color: #fafafa;
}
.prd-detail-page #size-guide-popup .popup-body table th {
  background: #fafafa;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.18px;
}
.prd-detail-page #size-guide-popup .popup-body table td {
  border-top: 1px solid #d6d6d6;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
}
.prd-detail-page #style-guide-popup {
  width: 627px;
  bottom: 0;
  z-index: 1000;
}
.prd-detail-page #style-guide-popup .prd-list {
  margin-top: 48px;
  display: flex;
  flex-flow: column;
  gap: 36px;
  width: 100%;
}
.prd-detail-page #style-guide-popup .prd-list > li {
  width: 100%;
  height: 160px;
  display: flex;
  gap: 14px;
}
.prd-detail-page #style-guide-popup .prd-list > li .thumb-wrap {
  position: relative;
  width: 160px;
  height: 160px;
  min-width: 160px;
}
.prd-detail-page #style-guide-popup .prd-list > li .thumb-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 1;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .prd-title {
  margin-bottom: 8px;
  color: #2d2d2d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .raw-price {
  color: #8e8e8e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  text-decoration-line: line-through;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .sale-percent {
  color: #d0122b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .sale-price {
  margin-left: 4px;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .bot-area {
  width: 100%;
  display: flex;
  gap: 8px;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .bot-area .custom-select {
  flex-grow: 1;
  width: 100%;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .bot-area .custom-select .select-btn {
  height: 56px;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .bot-area .cart-btn {
  min-width: 182px;
  width: 100%;
  background: #000;
  display: flex;
  height: 56px;
  padding: 22px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.16px;
  white-space: nowrap;
}
.prd-detail-page #style-guide-popup .prd-list > li .right-area .bot-area .cart-btn:disabled {
  background: #f0f0f0;
  color: #8e8e8e;
  cursor: not-allowed;
}
.prd-detail-page #prd-spec-popup {
  width: 627px;
  padding-bottom: 0;
  padding-right: 0;
}
.prd-detail-page #prd-spec-popup .popup-head {
  padding-right: 40px;
}
.prd-detail-page #prd-spec-popup .popup-body {
  padding-right: 40px;
}
.prd-detail-page #prd-spec-popup .popup-body .img-wrap {
  margin: 20px auto;
  width: 300px;
  height: 300px;
}
.prd-detail-page #prd-spec-popup .popup-body .subtitle {
  color: #1d1d1d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list {
  margin-top: 24px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li {
  padding: 24px 0;
  border-bottom: 1px solid #d8d8d8;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li .spec-title {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li .spec-value {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li .product-bar {
  margin-top: 16px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li .spec-desc {
  margin-top: 8px;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 {
  display: flex;
  align-items: center;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 > div:first-of-type {
  min-width: 161px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 > div:first-of-type .product-size-blockdesc {
  font-size: 32px;
  font-weight: 500;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 .product-visual {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 154px !important;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 .product-visual .product-visual-details {
  display: flex;
  flex-flow: column;
}
.prd-detail-page
  #prd-spec-popup
  .popup-body
  .prd-spec-list
  > li.type2
  .product-visual
  .product-visual-details
  .product-visual-label {
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
}
.prd-detail-page
  #prd-spec-popup
  .popup-body
  .prd-spec-list
  > li.type2
  .product-visual
  .product-visual-details
  .product-visual-value {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 .prd-weight-value {
  color: #1d1d1d;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.64px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 .prd-details-list {
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
}
.prd-detail-page #prd-spec-popup .popup-body .prd-spec-list > li.type2 .prd-details-list li::before {
  content: "·";
  display: inline-block;
  margin-right: 8px;
  color: #1d1d1d;
  font-size: 16px;
  vertical-align: middle;
}
.prd-detail-page #prd-spec-popup .popup-body .product-bar {
  display: flex;
  gap: 2px;
  margin-bottom: 6px;
}
.prd-detail-page #prd-spec-popup .popup-body .product-bar .bar-filled {
  background: #000;
  height: 10px;
  flex: 1 1 0;
}
.prd-detail-page #prd-spec-popup .popup-body .product-bar .bar-empty {
  background: #d8d8d8;
  height: 10px;
  flex: 1 1 0;
}
.prd-detail-page #prd-spec-popup .popup-body .product-bar-labels {
  display: flex;
  justify-content: space-between;
}
.prd-detail-page #prd-spec-popup .popup-body .product-bar-label {
  color: #1d1d1d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.24px;
} /*# sourceMappingURL=pc.css.map */

