/***************************** ê³µí†µ ì‚¬ìš© *****************************/
* {
  overflow-wrap: break-word; 
  word-break: keep-all;  
}
 
/* btn-group */
.btn-group {display: flex; gap: 10px;}
.btn-group.full {flex:1;}
.btn-group.full .btn {flex: 1;}

.btn-group.grid {display: grid; width: 100%;}
.btn-group.col2 {grid-template-columns: repeat(2, 1fr);}
.btn-group.col3 {grid-template-columns: repeat(3, 1fr);}

/* btn */
.btn {display: inline-flex; justify-content: center; align-items: center; min-height: 44px; padding: 9px 20px; font-size: 16px; font-weight: 400; color: #1D1D1D; background-color: #fff; border: 1px solid #000;}
.btn.black {background-color: #1D1D1D; border-color: #1D1D1D; color: #fff;}

.btn.md {min-width: 148px; font-size: 14px; font-weight: 700;}
.btn.lg {min-width: 160px; min-height: 56px; font-size: 14px; font-weight: 700;}
.btn.w-md {min-width: 124px;}

.btn-delete {display: block; width: 24px; height: 24px; background: #000 url(../../../images/onespec/icon-delete.svg) no-repeat center / 16px;}
.btn-text.lg {color: #000; font-size: 18px; font-weight: 500; line-height: 150%;}

/* etc */
.align-end {align-items: flex-end !important;}
.color-black {color: #000 !important;}
.color-red5 {color: var(--red-50);}
.color-grey7 {color: var(--color-70);}
.font-14 {font-size: 14px; font-weight: 400;}
.text-md {font-size: 14px; font-weight: 400; line-height: 150%; color: #555;}
.w-124 {width: 124px !important;}

/* text-list */
.text-list.bullet {display: flex; flex-direction: column; gap: 4px;}
.text-list.bullet li {position: relative; padding-left: 11px; font-size: 14px; font-weight: 400; line-height: 150%; color: #555; margin: 0;}
.text-list.bullet li::before {position: absolute; left: 0px; top: 9px; content: ''; display: block; width: 3px; height: 3px; background: #E4E4E4; border-radius: 100%;}


/***************************** Main ê³µí†µ ì‚¬ìš© *****************************/
/*-- 260610 ìˆ˜ì • --*/
.btn-toggle-wish {display: block; width: 32px; height: 32px; background: url(../../../images/main/ico_wishlist.svg) no-repeat center; cursor: pointer; filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(89%) contrast(89%);}
.btn-toggle-wish.is-active {background: url(../../../images/main/ico_wishlist_on.svg) no-repeat center; filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);}
/*-- //260610 ìˆ˜ì • --*/

/* main-module-wrap */
.main-module-wrap {display: flex; flex-direction: column; gap: 160px; padding-bottom: 80px;}
.main-module-wrap > .main-module:first-child:not(.type1):not(.type2) .module-inner {margin-top: 112px;}


/***************************** main-module - type8 *****************************/
/*-- 260610 ìˆ˜ì • --*/
.main-module.type8 .module-inner { padding: 0 80px; width: 100%;}
.main-module.type8 .title-module {display: flex; justify-content: space-between; align-items: flex-end; gap: 40px; margin-bottom: 40px;}
.main-module.type8 .title-module .item-title {display: flex;}
.main-module.type8 .title-module .title {font-size: 36px; font-weight: 700; line-height: 150%; color: #1D1D1D; margin: 0; padding: 0;}

.main-module.type8 .item-module {position: relative; width: 100%; flex: 1; display: flex; flex-direction: column;}
.main-module.type8 .item-img {position: relative;}
.main-module.type8 .item-img .title {position: absolute; left: 24px; bottom: 20px; color: #fff; font-size: 24px; font-weight: 700; line-height: 150%;}

/* main-module8-swiper */
.main-module8-swiper {width: 100%; position: relative; padding-bottom: 40px;}
.main-module8-swiper .swiper-wrapper {align-items: stretch; cursor: grab;}
.main-module8-swiper .swiper-slide {flex-shrink: 0; min-width: 400px; overflow: hidden; display: flex; flex-direction: column; height: auto;}
.main-module8-swiper .swiper-slide .item-img img {display: block; width: 100%; height: auto; flex-shrink: 0; object-fit: cover; object-position: center;}

.main-module8-swiper .main-module-progress {position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #EAECEE;}
.main-module8-swiper .progress-bar {display: block; height: 100%; width: 0%; background: #000; transition: width 400ms ease;}

.main-module.type8 .swiper-button-wrap {position: relative; align-self: flex-end; display: flex; gap: 16px; align-items: center; top: -1px;}
.main-module.type8 .swiper-button-wrap .swiper-button-prev,
.main-module.type8 .swiper-button-wrap .swiper-button-next {position: relative; top: inherit; left: inherit; right: inherit; display: block; width: 24px; height: 24px; background: url(../../../images/main/scrollPre.svg) no-repeat center / cover;}
.main-module.type8 .swiper-button-wrap .swiper-button-next {transform: scaleX(-1);}
.main-module.type8 .swiper-button-wrap .swiper-navigation-icon {display: none;}
/*-- //260610 ìˆ˜ì • --*/



