/***************************** ê³µí†µ ì‚¬ìš© *****************************/
* {
  overflow-wrap: break-word; 
  word-break: keep-all;  
}
 
/* btn-group */
.btn-group {display: flex; gap: 10px;}
.btn-group.full {flex:1;}
.btn-group.full .btn {flex: 1;}

.btn-group.grid {display: grid; width: 100%;}
.btn-group.col2 {grid-template-columns: repeat(2, 1fr);}
.btn-group.col3 {grid-template-columns: repeat(3, 1fr);}

/* btn */
.btn {display: inline-flex; justify-content: center; align-items: center; min-height: 44px; padding: 9px 20px; font-size: 16px; font-weight: 400; color: #1D1D1D; background-color: #fff; border: 1px solid #000;}
.btn.black {background-color: #1D1D1D; border-color: #1D1D1D; color: #fff;}

.btn.md {min-width: 148px; font-size: 14px; font-weight: 700;}
.btn.lg {min-width: 160px; min-height: 56px; font-size: 14px; font-weight: 700;}
.btn.w-md {min-width: 124px;}

.btn-delete {display: block; width: 24px; height: 24px; background: #000 url(../../../images/onespec/icon-delete.svg) no-repeat center / 16px;}
.btn-text.lg {color: #000; font-size: 18px; font-weight: 500; line-height: 150%;}

/* etc */
.align-end {align-items: flex-end !important;}
.color-black {color: #000 !important;}
.color-red5 {color: var(--red-50);}
.color-grey7 {color: var(--color-70);}
.font-14 {font-size: 14px; font-weight: 400;}
.text-md {font-size: 14px; font-weight: 400; line-height: 150%; color: #555;}
.w-124 {width: 124px !important;}

/* text-list */
.text-list.bullet {display: flex; flex-direction: column; gap: 4px;}
.text-list.bullet li {position: relative; padding-left: 11px; font-size: 14px; font-weight: 400; line-height: 150%; color: #555; margin: 0;}
.text-list.bullet li::before {position: absolute; left: 0px; top: 9px; content: ''; display: block; width: 3px; height: 3px; background: #E4E4E4; border-radius: 100%;}


/***************************** Main ê³µí†µ ì‚¬ìš© *****************************/
/*-- 260610 ìˆ˜ì • --*/
.btn-toggle-wish {display: block; width: 32px; height: 32px; background: url(../../../images/main/ico_wishlist.svg) no-repeat center; cursor: pointer; filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(89%) contrast(89%);}
.btn-toggle-wish.is-active {background: url(../../../images/main/ico_wishlist_on.svg) no-repeat center; filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);}
/*-- //260610 ìˆ˜ì • --*/

/* main-module-wrap */
.main-module-wrap {display: flex; flex-direction: column; gap: 160px; padding-bottom: 80px;}
.main-module-wrap > .main-module:first-child:not(.type1):not(.type2) .module-inner {margin-top: 112px;}


/***************************** main-module - type2 *****************************/
.main-module.type2 .module-inner {position: relative;}
.main-module.type2 .item-module {min-width: 1600px;}

.main-module.type2 .item-img {width: 100%; height: 100vh; height: 100dvh; min-height: 100vh; min-height: 100dvh;}
.main-module.type2 .item-img video,
.main-module.type2 .item-img img {width: 100%; max-width: 100%; height: 100%; object-fit: cover; object-position: center top;}

.main-module.type2 .item-content {position: absolute; top: 190px; bottom: 60px; left: 80px; display: flex; flex-direction: column; align-items: flex-start; text-align: left;}
.main-module.type2 .item-content .title {display: block; font-size: 48px; font-weight: 700; line-height: 150%; color: #fff;}
.main-module.type2 .item-content .text1 {display: block; font-size: 20px; font-weight: 500; line-height: 150%; color: #fff; margin-bottom: 40px;}

.main-module.type2 .content-bottom {margin-top: auto;}
.main-module.type2 .btn-group {margin-top: 0px;}



